<!DOCTYPE html>
<html>
<head>
<title><b>incident Management</b>I</title>

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
</head>

<body>
<div class="jumbotron">
            <h3>Lets create some Incidents</h3>
            <p class="lead"></p>
</div>

<form>
<div style="text-align:center;"><p style="color:darkblue;"><b>Short Description</b>: <input type="text" id="title"></p> <br><br></div>
<div style="text-align:center;"><p style="color:darkblue;"><b>Assignment Group</b>: <input type="text" id="group"></p> <br>
</div>
<div style="text-align:center;"><input type="button" value = "Submit" onclick="testSnow()"></div>
</form>
<script>
function testSnow()
{
//var requestBody = "{\"assignment_group\":\"Network\",\"short_description\":\"Test inc 50\"}"; 

var group = document.getElementById('group').value;
var title = document.getElementById('title').value;

//var requestBody = "{\"assignment_group\":\"" + group + ",\"short_description\":\"" + title + "\"}"; 
var requestBody = "{\"assignment_group\":\"" + group + "\",\"short_description\":\"" + title + "\"}"; 
var client=new XMLHttpRequest();

client.open("post","https://dev47165.service-now.com/api/now/table/incident");
client.setRequestHeader("Access-Control-Allow-Origin", "*");
client.setRequestHeader('Accept','application/json');
client.setRequestHeader('Content-Type','application/json');

//Eg. UserName="admin", Password="admin" for this code sample.
client.setRequestHeader('Authorization', 'Basic '+btoa('admin'+':'+'Admin1234'));

client.onreadystatechange = function() { 
	if(this.readyState == this.DONE) {

		//document.getElementById("response").innerHTML=this.status + this.response;
                var res=this.response;
                parsedData = JSON.parse(res);
                alert("You have Successfully created incident : " + parsedData.result.number); 
	}
}; 
client.send(requestBody);

};
</script>


</body>

</html>