<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>Service now Modules</title>
 
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet">
 
 
</head>
 
<body>
 
    <div class="container">
        <div class="subnav">
            <nav>
   
                <ul class="nav nav-pills ">
                    <li class="nav-item"><a class="nav-link"href="#">Home</a>
                        
                    
                    </li>
                    <li class="nav-item"><a class="nav-link"href="#">SignIn</a>
                        
                        
                    </li>
                    <li class="nav-item"><a class="nav-link"href="#">SignUp</a>
                        
                        
                    </li>
                </ul>
            </nav>
            <h3 class="text-muted">Service Now Modules</h3>
        </div>
 
        <div class="jumbotron">
            <h1>Service Now Integration Demo Web App</h1>
            <p class="lead"></p>
            <p><a class="btn btn-lg btn-success" href="showSignUp" role="button">Sign up today</a>
            </p>
        </div>
 
        
        
         <div class="row market">
            <div class="col-lg-6">
                 <h4>Module</h4>
                <p><a class="btn btn-primary btn-sm"href="incidents" role="button">Incidents </a>
            </p>
                
 
                
                
 

                
            </div>
 
            <div class="col-lg-6">
                <h4>Module</h4>
                <p>User Information</p>
             
 
               
 
                <h4>Module</h4>
                <p>Dashboard-New-After-Append</p>
            </div>
        </div>
 
        <footer class="footer">
            <p>&copy; Rahul Demo 2018</p>
        </footer>
 
    </div>
</body>
 
</html>

